/* VERSION MOBILE */


.logo {
    position: absolute;
    top: 10px;
    height: 10vh;
}

.navbarFull {
    height: 10vh;
    width: 100vw;
}

.boutton1 {
    padding: 10px;
    height: 7vh;
}
.boutton2 {
    padding: 10px;
    height: 7vh;
}



/* VERSION mobile */
@media (max-width: 480px) {
    * {
        font-size: 2.2vh;
    }

    .logo {
        display: none;
    }
    
    .navbarFull {
        height: 10vh;
    }
    
    .boutton1 {
        position: absolute;
        left: 10vw;
        top: 1.5vh;
        padding: 5px;
    }

    .boutton2 {
        position: absolute;
        right: 10vw;
        top: 1.5vh;
        padding: 5px;
    }
}
